In [1]:
from pathlib import Path

data_path = Path('./data/venus/raw')
print(f'{data_path.exists()=}')
data_files = list(data_path.glob('venus_data_*.db'))
print(f'{len(data_files)=}')

data_path.exists()=True
len(data_files)=34

In [2]:
from ops.ecris.analysis.io import convert_venus_db_files

convert_venus_db_files(data_files, output_path=Path('./data/venus'))

Converting 34 files...
Skipping file, converted file data/venus/venus_data_2025_08_10_19_12_09.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_20_19_12_14.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_01_07_44_59.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_16_19_12_13.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_06_07_45_01.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_09_02_19_12_19.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_09_01_19_12_18.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_08_19_12_09.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_12_19_12_11.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_17_19_12_14.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_09_19_12_09.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_03_07_44_59.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_06_19_12_08.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_19_19_12_14.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_26_19_12_16.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_31_19_12_18.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_29_19_12_18.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_21_19_12_15.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_05_07_45_01.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_22_19_12_15.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_07_19_12_09.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_23_19_12_15.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_25_19_12_16.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_02_07_44_59.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_28_19_12_17.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_15_19_12_12.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_14_19_12_11.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_11_19_12_10.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_13_19_12_11.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_30_19_12_18.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_24_19_12_15.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_18_19_12_14.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_04_07_45_00.parquet already exists
Skipping file, converted file data/venus/venus_data_2025_08_27_19_12_16.parquet already exists
File conversion complete. Skipped: 34/34.

In [9]:
import datetime as dt
from ops.ecris.analysis.venus_data import files_in_timeframe, get_venus_data

FMT = '%m/%d/%Y %H:%M:%S'
start = dt.datetime.strptime('08/14/2025 0:0:0', FMT)
stop = dt.datetime.strptime('08/16/2025 23:59:00', FMT)
df = get_venus_data(Path('./data/venus'), 'inj_i', start, stop)

In [10]:
df

                         time       inj_i
12937 2025-08-14 00:00:01.230  120.971428
12938 2025-08-14 00:00:02.558  120.975334
12939 2025-08-14 00:00:03.910  120.975334
12940 2025-08-14 00:00:05.232  120.979248
12941 2025-08-14 00:00:06.573  120.971428
...                       ...         ...
12886 2025-08-16 23:58:53.407  184.999710
12887 2025-08-16 23:58:54.737  185.003616
12888 2025-08-16 23:58:56.062  184.995804
12889 2025-08-16 23:58:57.413  185.003616
12890 2025-08-16 23:58:58.742  184.999710

[194130 rows x 2 columns]